*{
    margin:0;
    font-family: 'Work Sans', sans-serif;
}

/* banner Styles */
.banner-container{
    background-image: url(./images/banner/banner1.png);
    background-size: cover;
    display: flex;
    justify-content: right;
    gap: 30px;
    padding: 200px 200px 160px 845px;
}

.banner-details{
    text-align: right;
    color: #151414;
}

.banner-title  {
    font-weight: 700;
    font-size: 65px;
}

.banner-description{ 
    font-weight: 400;
    font-size: 18px;
    margin: 24px 0 32px 0;
} 

.btn{
    padding: 18px;
    background-color: #ff7300;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}  




*{
    box-sizing: border-box;
}

.call-btn {
    line-height: 22px;
    text-align: right;
    padding: 18px 26px;
    color: #ff7300;
    border: 0;
    border-radius: 5px;
    height: 64px;
    font-weight: 600;
    font-size: 21px;
   
}

/* main content styles */

#main-content {
    max-width: 1140px;
    margin: 0 auto;
}

/* failure section styles  */

.failure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-bottom: 100px;
}
.failure-content{
    width: 416px;

}

.sub-title {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 47px;
    color: #151414;
}

.failour-details {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 24px auto 16px;
}

.failure-list {
    margin-left: 20px;
    background-size: 10px;
    list-style-type: none;



}

.failure-list li {
    line-height: 35px;
    font-size: 18px;
}

.failure-list li span{
    color:#00FF00 ;
}


/* my plan section styles  */

.my-plan{
    text-align: center;
    padding-bottom: 60px;
}
.plan-items{
    display: flex;
    justify-content: center;
    gap:80px;
    margin-top: 50px;
}

.item-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.item-description{
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    color: #737272;
    
}

/* keep-positive-section styles  */
.keep-positive-section{
    width: 1140px;
    min-height: 300px;
    background: linear-gradient(90deg, #ff7300 0%, rgba(0, 95, 172, 0) 100%),url('../images/watch.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.positive-content{
    width: 459px;
    margin-left: 65px;
   
}

.positive-title{
    color: white;
    margin-bottom: 24px;
    
}

/* footer styles   */

.footer-content{
    min-height: 577px;
    background-color: #151414;
    margin-top: 130px;
    display: flex;
    gap: 330px;
    align-items: center;
    justify-content: center;
}

.future{
    width: 485px;
    color:#FFFFFF ;
}

.future p {
    margin-bottom: 10px ;
}

.future-btn{
    color: #F8F8F8
}

.future-details{
    margin: 24px 0 16px;
}

.future-details p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

}
.social-icons{
    margin-top: 32px;
}

/* subscribe section styles */

.subscribe{
    width: 325px;
}

.subscribe-title{
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
    color: #FFFFFF;
}

.subscribe input[type="email"]{
    width: 100%;
    padding: 18px;
    background-color:#151414 ;
    border: 1px solid #F8F8F8;
    border-radius: 5px;
    color:#FFFFFF;
    margin-bottom: 20px;
}

.subscribe-btn{
    background-color: #FFFFFF;
    color: #ff7300;
}